.card{
    border: 1px solid gray;
    border-radius: 10px;
width: 100%;
display: flex ;
flex-direction: column;
cursor: pointer;
align-items: start;
background-color: white;
color: black;
height: auto;
padding: 20px;
}

.card:hover{
    transform: scale(0.98);
    background-color: white;
    color: black;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
}
